{% extends 'org_base.html' %}
{% block custom_title %}Org Course{% endblock %}
{% block page_path %}Org Course{% endblock %}
{% block right_form %}
    <div class="right companycenter layout" >
		<div class="head">
			<h1>Org course</h1>
		</div>
		<div class="brief group_list">
            {% for course in all_courses %}
                <div class="module1_5 box">
                    <a class="comp-img-box" href="course-detail.html">

                        <img width="214" height="195" src="{{ MEDIA_URL }}{{ course.image }}"/>
                    </a>
                    <div class="des">
                        <a href="course-detail.html"><h2>{{ course.name }}</h2></a>
                        <span class="fl">Lesson：<i class="key">{{ course.learn_time }}</i></span>
                        <span class="fr">People：{{ course.fav_num }}</span>
                    </div>
                    <div class="bottom">
                        <span class="fl">Django</span>
                         <span class="star fr  notlogin
                            " data-favid="13" data-fav-type="4">
                            0
                        </span>
                    </div>
                </div>
            {% endfor %}
		</div>
			<div class="pageturn">
                <ul class="pagelist">
                    <li class="active"><a href="?page=1">1</a></li>
                </ul>
            </div>
	</div>
{% endblock %}
