{% extends 'org_base.html' %}
{% block custom_title %}Org Home{% endblock %}
{% block page_path %}Org Home{% endblock %}
{% block right_form %}
<div class="right companycenter layout grouping" >
		<div class="head">
			<h1>All courses</h1>
			<a class="green fr more" href="org-detail-course.html">Check more  >  </a>
		</div>
		<div class="brief group_list">
            {% for course in all_courses %}
                <div class="module1_5 box">
                    <a href="course-detail.html"><img width="214" src="{{ MEDIA_URL }}{{ course.image }}"/></a>
                    <div class="des">
                        <a href="course-detail.html"><h2>{{ course.name }}</h2></a>
                        <span class="fl">Click：<i class="key">{{ course.click_num }}</i></span>
                        <span class="fr">People：{{ course.fav_num }}</span>
                    </div>
                    <div class="bottom">
                        <span class="fl">{{ course.course_org }}</span>
                         <span class="star fr  notlogin
                            " data-favid="13"  data-fav-type="4">
                            0
                        </span>
                    </div>
                </div>
            {% endfor %}

		</div>
	</div>
<div class="right companycenter layout" >
    <div class="head">
        <h1>Org teachers</h1>
        <a class="green fr more" href="org-detail-teachers.html">Check more  >  </a>
    </div>
    {% for teacher in all_teachers %}
    <div class="diarys">
        <div class="module5 share company-diary-box" style="padding:10px 0;">
            <div class="left">
                <img class="pic" src="{{ MEDIA_URL }}{{ teacher.image }}"/>
                <p>Name：{{ teacher.name }}</p>
            </div>
            <div class="right">
                <div class="top">
                    <div class="fl">
                        <a href=""><h1>{{ teacher.points }}</h1></a>
                        <span>Published：{{ teacher.add_time }}</span>
                    </div>
                </div>
                <div class="middle" style="border-bottom:0;">Work experience:{{ teacher.work_years }} years</div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
